.navbar .navbar-expand-md{
    background: rgb(2, 67, 2)
}
.py-0{
    background-color: rgb(6, 51, 46);
margin-right: 0;
  
}
.word{
    margin-left: 10px;
    margin-bottom: 5px;
    color: white;
    font-size: 30px;
    text-decoration: none;
}
.word2:hover{
text-decoration: none;
}
.cont{
     color: white;
    font-size: 29px;
   margin-left: 650px;
}

body{
    letter-spacing: 1px;
    font-family:"Bebas Neue", sans-serif;
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
    overflow-x: hidden;
    margin: 0;
}
.si{
    width: 100%;
    display: block;
}
p{
    text-align: right;
    position: absolute;
}
.we{
    margin-right: 40px;
    border-right: 6px solid rgb(2, 67, 2);
    padding-right: 10px;
}
.wa{
    margin-left: 40px;
     border-left: 6px solid rgb(2, 67, 2);
    padding-left: 10px;
    text-align: left;
}
.container{
    width: 700px;
    height: 200px;
    box-sizing: border-box;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 300px;
    left: 300px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}
.sev1{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.img-thumbnail {
  width: 200px;
  height: 200px;
  object-fit: cover;  
}
.img-fluid{
    margin-left: 200px;
    width: 300px;
    height: 400px;
    transition: 1s;
    border-radius: 20px;
}
.img-fluid:hover{
    background-color: #1d5a52;
    transform: scale(1.1);
    box-shadow: 0 15px 30px rgba(0,0,0,0.9);;
    
}
.we{
    display: flex;
    justify-content: center;
    align-items: center;

}
.container-fluid{
    margin:100px 0px ;
}
#syd{
    width: 40px;
    height: 30px;
    background-color: #1d5a52;
    border-radius: 4px;
}
.form{
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center;
}
input{
    margin-left: 10px;
    margin-bottom: 20px;
    border-radius: 30px;
    border: 3px solid;
    width: 400px;
    height: 70px;
    display: block;
    text-align: center;
}

.s {
  width: 100px;
  height: 40px;
  display: flex;         
  align-items: center;   
  justify-content: center;
  gap: 8px;              
  padding: 8px 20px;
  border-radius: 20px;
  background-color: #1d5a52;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  margin-bottom: 20px;
}

.s .icon svg {
  width: 20px;  
  height: 20px; 
  fill: white;  
}
button:hover{
    background-color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px){
    .container{
        width: 100%;
    }
    .si{
        width: 100%;
        display: block;
    }
    .word{
        margin-left: -20px;
    }
}
hr{
  height: 4px;
  background-color: rgb(72, 69, 69);
  border: none;
}
h2{
    font-weight: bold;
}
.social-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 10px auto;
  width: 100%;
}

.social-icon{
  fill: black;        
  stroke: black; 
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(218, 218, 218);
  transition: 0.5s;
  box-shadow: 0 10px 25px rgba(0,0,0,0.7);;
}
.social-icon svg{
  width: 70px;
  height: 70px;
}
.social-icon:hover {
  background: black;
}

.special:hover svg {
  fill: white;
  stroke: white;
}
.esay{
    padding-right: 12px;
}

